
{% extends "layout.html"%}

{% block style %}

.table-condensed{
  font-size: 10px;
}

.table-3xsmall{
  font-size: 14px;
}
{% endblock style %}

{% block content %}
<div class="container">
<div class="row">
<div class="col-sm">
<h3>Reinforcement for a Unit Width Cross-Section:</h3>
<form method=post action="">
<table class="table table-striped w-auto small">
  {% for field in form %}
    <tr>
    <td align="right">{{ field.label }}</td>
    <td>{{ field }}</td>
    <!-- <td>Field Name: {{ field.name }}</td> -->
    </tr>
  {% endfor %}
  <tr><td colspan=2>set spacing module to 0 for exact results.</td></tr>
</table>
<p><input type=submit value=Compute></form></p>
</div>
<div class="col-sm">
{% if result != None %}
<table class="table table-sm table-hover table-3xsmall">
<thead>
<tr>
    <th scope="col" class="text-nowrap">Bar</th>
    <th scope="col" class="text-nowrap">Spacing (in)</th>
    <th scope="col" class="text-nowrap">A<sub>s,used</sub> (in<sup>2</sup>)</th>
    <th scope="col" class="text-nowrap">&#934;<sub>b</sub></th>
    <th scope="col" class="text-nowrap"><div>M<sub>n</sub></div><div>(ft-kips/ft)</div></th>
    <th scope="col" class="text-nowrap"><div>&#934;<sub>b</sub>M<sub>n</sub></div><div>(ft-kips/ft)</div></th>
    <th scope="col" class="text-nowrap">&#934;<sub>v</sub></th>
    <th scope="col" class="text-nowrap"><div>V<sub>c</sub></div><div>(kips/ft)</div></th>
    <th scope="col" class="text-nowrap"><div>&#934;<sub>v</sub>V<sub>c</sub></div><div>(kips/ft)</div></th>
</tr>
</thead>
{% if warning != [] %}
{% for msg in warning %}
<tr><td colspan="10" class="text-left bg-warning"><p class="text-dark"><strong><u>Warning:</u> {{msg}}</strong></p></td></tr>
{% endfor %}
{% endif %}
{% for line in result %}
<tr {% if line[-1]!="OK" %}class="table-warning"{% endif %}>
{% for value in line %}
<td class="text-nowrap">{{value|safe}}</td>
{% endfor %}
</tr>
{% endfor %}
</table>
{% endif %}

</div>
</div>
<div class="row">
{% if detailed != None %}
<table class="table table-sm table-hover table-condensed">
<thead>
<tr>
    <th scope="col">Bar</th>
    <th scope="col">dia. (in)</th>
    <th scope="col">A<sub>s</sub> (in<sup>2</sup>)</th>
    <th scope="col">Beta1</th>
    <th scope="col">d (in)</th>
    <th scope="col">Cc</th>
    <th scope="col">fs (ksi)</th>
    <th scope="col">T&#38;S</br>Spacing (in)</th>
    <th scope="col">Min.</br>Spacing (in)</br>[25.2.1]</th>
    <th scope="col">A<sub>s,min</sub> (in<sup>2</sup>)</th>
    <th scope="col">A<sub>s,min</sub></br>Spacing (in)</th>
    <th scope="col">A<sub>s,strength</sub> (in<sup>2</sup>)</th>
    <th scope="col">A<sub>s,req</sub> (in<sup>2</sup>)</th>
    <th scope="col">Spacing</br>req.'d (in)</th>
    <th scope="col">Spacing</br>used (in)</th>
    <th scope="col">A<sub>s,used</sub> (in<sup>2</sup>)</th>
    <th scope="col">a (in)</th>
    <th scope="col">&#949;<sub>s</sub> (&#8240;)</th>
    <th scope="col">&#934;<sub>b</sub></th>
    <th scope="col">Section Classification</th>
</tr>
</thead>
{% for line in detailed %}
<tr {% if line[-1] != "Tension-controlled" %}class="table-warning"{% endif %}>
{% for value in line %}
<td class="text-nowrap">{{value|safe}}</td>
{% endfor %}
</tr>
{% endfor %}
</table>
{% endif %}
</div>
</div>
{% endblock content %}
