
{% extends "layout.html"%}

{% block content %}
<h3>Welcome to the Structural Toolbox</h3>

<div class="row">
    <div class="col-md">
        <h4>Building Codes</h4>
        <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="https://codes.iccsafe.org/content/VCC2018P1" target="_blank" rel="noopener noreferrer">2018 - Virginia Building Code</a></li>
            <li class="nav-item"><a class="nav-link" href="https://codes.iccsafe.org/content/DCBC2017P1" target="_blank" rel="noopener noreferrer">2017 - District of Columbia Building Code</a></li>
            <li class="nav-item"><a class="nav-link" href="https://codes.iccsafe.org/content/IBC2021P1" target="_blank" rel="noopener noreferrer">2021 - International Building Code</a></li>
            <li class="nav-item"><a class="nav-link" href="https://codes.iccsafe.org/content/IBC2018" target="_blank" rel="noopener noreferrer">2018 - International Building Code</a></li>
            <li class="nav-item"><a class="nav-link" href="https://codes.iccsafe.org/content/IBC2015" target="_blank" rel="noopener noreferrer">2015 - International Building Code</a></li>
            <li class="nav-item"><a class="nav-link" href="https://codes.iccsafe.org/content/IBC2012" target="_blank" rel="noopener noreferrer">2012 - International Building Code</a></li>
            <li class="nav-item"><a class="nav-link" href="https://codes.iccsafe.org/content/IBC2009" target="_blank" rel="noopener noreferrer">2009 - International Building Code</a></li>
            <li class="nav-item"><a class="nav-link" href="https://codes.iccsafe.org/content/IBC2006" target="_blank" rel="noopener noreferrer">2006 - International Building Code</a></li>
        </ul>

        <h4>Other Online Calculators</h4>
        <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="https://hazards.atcouncil.org/#/" target="_blank" rel="noopener noreferrer">ATC Hazard Tool</a></li>
            <li class="nav-item"><a class="nav-link" href="https://asce7hazardtool.online/" target="_blank" rel="noopener noreferrer">ASCE 7 Hazard Tool</a></li>
            <li class="nav-item"><a class="nav-link" href="https://awc.org/calculators/connection-calculator/" target="_blank" rel="noopener noreferrer">American Wood Council - Wood Connection Tool</a></li>
            <li class="nav-item"><a class="nav-link" href="https://calcs.app/" target="_blank" rel="noopener noreferrer">Calcs/App</a></li>
        </ul>

        <h4>Other Helpful links</h4>
        <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="https://www.aisc.org/publications/steel-construction-manual-resources/" target="_blank" rel="noopener noreferrer">AISC - Manual Resources</a></li>
            <li class="nav-item"><a class="nav-link" href="https://www.cfsei.org/free-aisi-standards" target="_blank" rel="noopener noreferrer">AISI - Free Standards</a></li>
            <li class="nav-item"><a class="nav-link" href="https://awc.org/codes-standards/publications" target="_blank" rel="noopener noreferrer">American Wood Council - Publications (NDS, etc.)</a></li>
            <li class="nav-item"><a class="nav-link" href="https://ncma.org/resources/tek-solutions-center/" target="_blank" rel="noopener noreferrer">NCMA - TEK Solutions Center</a></li>
            <li class="nav-item"><a class="nav-link" href="https://gobrick.com/read-research/technical-notes" target="_blank" rel="noopener noreferrer">BIA - Technical Notes</a></li>
        </ul>
        <h4>Continuing Education</h4>
        <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="https://www.youtube.com/user/AISCEducation" target="_blank" rel="noopener noreferrer">AISC Education Channel</a></li>
            <li class="nav-item"><a class="nav-link" href="https://www.youtube.com/playlist?list=PLXpvR5DF4MWaUYr0jYLs6XM5QcQRjVl3C" target="_blank" rel="noopener noreferrer">Design of Post-Tensioned Concrete Lectures by Dirk Bondy</a></li>
            <li class="nav-item"><a class="nav-link" href="https://www.youtube.com/playlist?list=PLLSzlda_AXa3yQEJAb5JcmsVDy9i9K_fi" target="_blank" rel="noopener noreferrer">Introduction to Finite Element Course</a></li>
            <li class="nav-item"><a class="nav-link" href="https://ocw.mit.edu/resources/res-2-002-finite-element-procedures-for-solids-and-structures-spring-2010/index.htm" target="_blank" rel="noopener noreferrer">MIT - Finite Element Procedures for Solids and Structures</a></li>
            <li class="nav-item"><a class="nav-link" href="https://ocw.mit.edu/courses/mathematics/18-06-linear-algebra-spring-2010/index.htm" target="_blank" rel="noopener noreferrer">MIT - Linear Algebra (18.06)</a></li>
            <li class="nav-item"><a class="nav-link" href="https://ocw.mit.edu/courses/mathematics/18-085-computational-science-and-engineering-i-fall-2008/" target="_blank" rel="noopener noreferrer">MIT - Computational Science and Engineering 1 (18.085)</a></li>
            <li class="nav-item"><a class="nav-link" href="https://ocw.mit.edu/courses/mathematics/18-086-mathematical-methods-for-engineers-ii-spring-2006/" target="_blank" rel="noopener noreferrer">MIT - Mathematical Methods for Engineers II (18.086)</a></li>
            <li class="nav-item"><a class="nav-link" href="https://ocw.mit.edu/courses/mathematics/18-330-introduction-to-numerical-analysis-spring-2012/" target="_blank" rel="noopener noreferrer">MIT - Introduction to Numerical Analysis (18.330)</a></li>
            <li class="nav-item"><a class="nav-link" href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-0001-introduction-to-computer-science-and-programming-in-python-fall-2016/" target="_blank" rel="noopener noreferrer">MIT - Introduction to Computer Science and Programming in Python (6.0001)</a></li>
            <li class="nav-item"><a class="nav-link" href="https://www.youtube.com/c/cs50/featured" target="_blank" rel="noopener noreferrer">Harvard - CS50 - introductory programming course</a></li>
        </ul>
    </div>
    <div class="col-sm">
        <h4>Site News</h4>
        <!-- Latest updates -->
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <h6><strong>06/21/2022 - </strong> The Section Property Tool has received numerious updates.</h6>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <!-- End Latest -->
    </div>
</div>
{% endblock content %}
