<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>The Structural Toolbox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" media="print" href="{{ url_for('static', filename='css/Print.css') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

    <!-- Analytics -->
    
    <!-- REMOVE FOR GITHUB UPLOADS -->

    <!-- End Analytics -->

    {% block scripts %}
    {% endblock %}
    
    <style>
      .alert   {font-size: 9px; width:50%;}
    {% block style %}
    {% endblock %}
    </style>
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">
                <img style="max-width: 50px; margin-top: -7px;"src="{{ url_for('static', filename='images/favicon.ico')}}">
            </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Concrete Calcs
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/tbeam">Concrete T Beam</a>
              <a class="dropdown-item" href="/pt_profile">PT Mid Point Calculator</a>
              <a class="dropdown-item" href="/aci_unit_width">Reinforcement for Unit Width Section</a>
              <a class="dropdown-item" href="/aci_development">Development of Reinforcement</a>
              <a class="dropdown-item" href="/aci_corbel">Corbel</a>
            </div>
          </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Steel Calcs
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/steeldb">Steel Shape Database</a>
              <a class="dropdown-item" href="/elastic_weld_group">Weld Group - Elastic</a>
            </div>
          </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              General Calcs
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/interpolate">Interpolation</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/sectionprops">Section Properties (ALPHA)</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
</header>

<body>    
    <main role="main" class="container">
    
    <div class="jumbotron jumbotron-fluid">
    <div class="container">
    {% block content %}
    {% endblock %}
    </div>
    </div>

    <footer class="footer fixed-bottom">
      <div class="çontainer">
        <div class="row">
            <div class="alert alert-warning alert-dismissible fade show mx-auto" role="alert">
              <p><strong>THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
                AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
                IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
                DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
                FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
                DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
                SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
                CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
                OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
                OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.</strong></p>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        </div>
        <div class="row bg-dark px-2 py-2">
          <div class="col-sm">
            <div class="text-warning text-left">
              <p>BSD-3 License</p>
            </div>
          </div>
          <div class="col-md-auto text-center text-warning">
            A work in progress.
          </div>
          <div class="col-6">
            <p class="text-warning text-right">&copy; 2022 </p>
          </div>
        </div>
      </div >
    </footer>
    </main>

</body>
</html>
