
{% extends "layout.html"%}

{% block scripts %}
<script src="{{ url_for('static', filename='js/SectionProps.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock scripts %}

{% block content %}

<div class="container">
<div class="row">
<div class="col-sm">
<h2>Section Properties for a Shape</h2>
<h2>Defined by a Polygon</h2>
<h4>Inputs:</h4>
<p>Enter Coordinates in Counter-Clockwise Order</p>
<!--<p><input id="addVertex" type="button" value="Add a new vertex"></p>-->
<form class="form-floating" method=post action="">
<table id="vertexTable" class="table table-sm table-dark w-auto">
<thead>
<tr>
<th> Vertex ID </th>
<th class="text-center"> x (in) </th>
<th class="text-center"> y (in) </th>
</tr>
</thead>
<tbody>
<!-- Persist Form Data from Input after POST -->
{% if vertices != None %}

{% for vertex in vertices %}

{% if vertex == vertices[-1] %}
<tr class="vertex">
<td>Close</td>
<td><input id="lastX" name="x" class="x input-sm" style="width:95px" type="number" step="any" value="{{vertex[1]}}" readonly></td>
<td><input id="lastY" name="y" class="y input-sm" style="width:95px" type="number" step="any" value="{{vertex[2]}}" readonly></td>
</tr>
{% elif vertex[0]>3 %}
<tr class="user vertex">
<td>{{vertex[0]}}</td>
<td><input name="x" class="x input-sm" style="width:95px" type="number" step="any" value="{{vertex[1]}}"></td>
<td><input name="y" class="y input-sm" style="width:95px" type="number" step="any" value="{{vertex[2]}}"></td>
<td>
    <button type="button" class="addBelow btn btn-secondary btn-success btn-sm">
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
    </svg>
    </button>
    <a href="#" class="removeButton badge badge-danger" style="margin-left: 5px">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
        </svg>
    </a>
</td>
</tr>
{% elif vertex[0]==3 %}
<tr class="user vertex">
<td>{{vertex[0]}}</td>
<td><input name="x" class="x input-sm" style="width:95px" type="number" step="any" value="{{vertex[1]}}"></td>
<td><input name="y" class="y input-sm" style="width:95px" type="number" step="any" value="{{vertex[2]}}"></td>
<td>
    <button type="button" id="addBelowFirst" class="addBelowFirst btn btn-secondary btn-success btn-sm">
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
    </svg>
    </button>
</td>
</tr>
{% else %}
<tr class="user vertex">
<td>{{vertex[0]}}</td>
<td><input id="firstX" name="x" class="x input-sm" style="width:95px" type="number" step="any" value="{{vertex[1]}}"></td>
<td><input id="firstY" name="y" class="y input-sm" style="width:95px" type="number" step="any" value="{{vertex[2]}}"></td>
</tr>
{% endif %}
{% endfor %}
{% else %}
<!-- Initial Form -->
<tr class="user vertex">
<td>1</td>
<td><input id="firstX" name="x" class="x input-sm" style="width:95px" type="number" step="any" value="0.0"></td>
<td><input id="firstY" name="y" class="y input-sm" style="width:95px" type="number" step="any" value="0.0"></td>
</tr>
<tr class="user vertex">
<td>2</td>
<td><input name="x" class="x input-sm" style="width:95px" type="number" step="any" value="1.0"></td>
<td><input name="y" class="y input-sm" style="width:95px" type="number" step="any" value="0"></td>
</tr>
<tr class="user vertex">
<td>3</td>
<td><input name="x" class="x input-sm" style="width:95px" type="number" step="any" value="1"></td>
<td><input name="y" class="y input-sm" style="width:95px" type="number" step="any" value="1"></td>
<td>
    <button type="button" id="addBelowFirst" class="addBelowFirst btn btn-secondary btn-success btn-sm">
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
    </svg>
    </button>
</td>
</tr>
<tr class="vertex">
<td>Close</td>
<td><input id="lastX" name="x" class="x input-sm" style="width:95px" type="number" step="any" value="0.0" readonly></td>
<td><input id="lastY" name="y" class="y input-sm" style="width:95px" type="number" step="any" value="0.0" readonly></td>
</tr>
{% endif %}
</tbody>
</table>
<p><input type=submit value="Compute"></p>
</form>
</div>
<div class="col-5">
<canvas id="sectionCanvas" width="600" height="600"></canvas>
</div>
</div>
<div class="row">
{% if shape != None %}
<!-- General Results Area and Centroid -->
<table class="table table-striped table-hover table-sm table-dark">
<tr><td colspan="3" class="text-center text-nowrap"><strong><u><h4>Results</h4></u></strong></td></tr>

<!-- Warnings if there are any -->
{% if warning != '' %}
<tr><td colspan="3" class="text-center bg-warning"><p class="text-dark"><strong>{{warning}}</strong></p></td></tr>
{% endif %}

<tr><td class="text-right text-nowrap">Area </td><td class="text-center text-nowrap">{{"%.3f"|format(shape.area)}} in<sup>2</sup></td><td class="text-center text-nowrap">{{"%.3f"|format(shape.area/144.0)}} ft<sup>2</sup></td></tr>
<tr><td class="text-right text-nowrap">Centroid </td><td class="text-center text-nowrap">({{"%.3f"|format(shape.cx)}},{{"%.3f"|format(shape.cy)}}) in</td><td class="text-center text-nowrap">({{"%.3f"|format(shape.cx/12.0)}},{{"%.3f"|format(shape.cy/12.0)}}) ft</td></tr>
</table>
<!-- Properties about the centroid -->
<table class="table table-striped table-hover table-sm table-dark">
<tr><td colspan="3" class="text-center text-nowrap"><strong><u>Properties about the Centroidal XX,YY Axis</u></strong></td></tr>
<tr><td class="text-right text-nowrap">I<sub>xx</sub> </td><td class="text-center text-nowrap">{{"%.3f"|format(shape.Ixx)}} in<sup>4</sup></td><td>Moment of Inertia (Second Moment of Area) about the XX-Axis</td></tr>
<tr><td class="text-right text-nowrap">I<sub>yy</sub> </td><td class="text-center text-nowrap">{{"%.3f"|format(shape.Iyy)}} in<sup>4</sup></td><td>Moment of Inertia (Second Moment of Area) about the YY-Axis</td></tr>
<tr><td class="text-right text-nowrap">I<sub>xxyy</sub> </td><td class="text-center text-nowrap">{{"%.3f"|format(shape.Ixxyy)}} in<sup>4</sup></td><td>Product of Inertia</td></tr>
<tr><td class="text-right text-nowrap">I<sub>zz</sub> or J<sub>zz</sub> </td><td class="text-center text-nowrap">{{"%.3f"|format(shape.Jzz)}} in<sup>4</sup></td><td>Polar Moment of Inertia</td></tr>
<tr><td class="text-right text-nowrap">S<sub>xx,top</sub> </td><td class="text-center text-nowrap">{{"%.3f"|format(shape.sxx_top)}} in<sup>3</sup></td><td>Elastic Section Modulus to the Top Most Vertex</td></tr>
<tr><td class="text-right text-nowrap">S<sub>xx,bottom</sub> </td><td class="text-center text-nowrap">{{"%.3f"|format(shape.sxx_bottom)}} in<sup>3</sup></td><td>Elastic Section Modulus to the Bottom Most Vertex</td></tr>
<tr><td class="text-right text-nowrap">S<sub>yy,left</sub> </td><td class="text-center text-nowrap">{{"%.3f"|format(shape.syy_left)}} in<sup>3</sup></td><td>Elastic Section Modulus to the Left Most Vertex</td></tr>
<tr><td class="text-right text-nowrap">S<sub>yy,right</sub> </td><td class="text-center text-nowrap">{{"%.3f"|format(shape.syy_left)}} in<sup>3</sup></td><td>Elastic Section Modulus to the Right Most Vertex</td></tr>
<tr><td class="text-right text-nowrap">r<sub>xx</sub> </td><td class="text-center text-nowrap">{{"%.3f"|format(shape.rxx)}} in<sup>3</sup></td><td>Radius of Gyration about the XX-axis</td></tr>
<tr><td class="text-right text-nowrap">r<sub>yy</sub> </td><td class="text-center text-nowrap">{{"%.3f"|format(shape.ryy)}} in<sup>3</sup></td><td>Radius of Gyration about the YY-axis</td></tr>
<tr><td class="text-right text-nowrap">r<sub>zz</sub> </td><td class="text-center text-nowrap">{{"%.3f"|format(shape.rzz)}} in<sup>3</sup></td><td>Radius of Gyration about the ZZ-axis</td></tr>
</table>
<!-- Properties about the global x and y -->
<table class="table table-striped table-hover table-sm table-dark">
<tr><td colspan="3"  class="text-center text-nowrap"><strong><u>Properties about the Global X,Y Axis</u></strong></td></tr>
<tr><td class="text-right text-nowrap">I<sub>x</sub> </td><td class="text-center text-nowrap">{{"%.3f"|format(shape.Ix)}} in<sup>4</sup></td><td>Moment of Inertia (Second Moment of Area) about the X-Axis</td></tr>
<tr><td class="text-right text-nowrap">I<sub>y</sub> </td><td class="text-center text-nowrap">{{"%.3f"|format(shape.Iy)}} in<sup>4</sup></td><td>Moment of Inertia (Second Moment of Area) about the Y-Axis</td></tr>
<tr><td class="text-right text-nowrap">I<sub>xy</sub> </td><td class="text-center text-nowrap">{{"%.3f"|format(shape.Ixy)}} in<sup>4</sup></td><td>Product of Inertia</td></tr>
<tr><td class="text-right text-nowrap">I<sub>z</sub> or J<sub>z</sub> </td><td class="text-center text-nowrap">{{"%.3f"|format(shape.Jz)}} in<sup>4</sup></td><td>Polar Moment of Inertia</td></tr>
<tr><td class="text-right text-nowrap">S<sub>x,top</sub> </td><td class="text-center text-nowrap">{{"%.3f"|format(shape.sx_top)}} in<sup>3</sup></td><td>Elastic Section Modulus to the Top Most Vertex</td></tr>
<tr><td class="text-right text-nowrap">S<sub>x,bottom</sub> </td><td class="text-center text-nowrap">{{"%.3f"|format(shape.sx_bottom)}} in<sup>3</sup></td><td>Elastic Section Modulus to the Bottom Most Vertex</td></tr>
<tr><td class="text-right text-nowrap">S<sub>y,left</sub> </td><td class="text-center text-nowrap">{{"%.3f"|format(shape.sy_left)}} in<sup>3</sup></td><td>Elastic Section Modulus to the Left Most Vertex</td></tr>
<tr><td class="text-right text-nowrap">S<sub>y,right</sub> </td><td class="text-center text-nowrap">{{"%.3f"|format(shape.sy_left)}} in<sup>3</sup></td><td>Elastic Section Modulus to the Right Most Vertex</td></tr>
<tr><td class="text-right text-nowrap">r<sub>x</sub> </td><td class="text-center text-nowrap">{{"%.3f"|format(shape.rx)}} in<sup>3</sup></td><td>Radius of Gyration about the X-axis</td></tr>
<tr><td class="text-right text-nowrap">r<sub>y</sub> </td><td class="text-center text-nowrap">{{"%.3f"|format(shape.ry)}} in<sup>3</sup></td><td>Radius of Gyration about the Y-axis</td></tr>
<tr><td class="text-right text-nowrap">r<sub>z</sub> </td><td class="text-center text-nowrap">{{"%.3f"|format(shape.rz)}} in<sup>3</sup></td><td>Radius of Gyration about the Z-axis</td></tr>
</table>
<!-- Principal Axis Properties -->
<table class="table table-striped table-hover table-sm table-dark">
<tr><td colspan="3" class="text-center text-nowrap"><strong><u>Principal Axis</u></strong></td></tr>
<tr><td class="text-right text-nowrap">I<sub>uu</sub> </td><td class="text-center text-nowrap">{{"%.3f"|format(shape.Iuu)}} in<sup>4</sup></td><td>Moment of Inertia (Second Moment of Area) about the UU-Axis</td></tr>
<tr><td class="text-right text-nowrap">I<sub>vv</sub> </td><td class="text-center text-nowrap">{{"%.3f"|format(shape.Ivv)}} in<sup>4</sup></td><td>Moment of Inertia (Second Moment of Area) about the VV-Axis</td></tr>
<tr><td class="text-right text-nowrap">I<sub>uuvv</sub> </td><td class="text-center text-nowrap">{{"%.3f"|format(shape.Iuuvv)}} in<sup>4</sup></td><td>Product of Inertia</td></tr>
<tr><td class="text-right text-nowrap">&#952;<sub>uu</sub> </td><td class="text-center text-nowrap">{{"%.3f"|format(shape.theta1)}}<sup>o</sup></td><td>Rotation from XX-Axis to the UU-Axis</td></tr>
<tr><td class="text-right text-nowrap">&#952;<sub>vv</sub> </td><td class="text-center text-nowrap">{{"%.3f"|format(shape.theta2)}}<sup>o</sup></td><td>Rotation from XX-Axis to the VV-Axis</td></tr>
</table>

{% endif %}
</div>
</div>

<script type="text/javascript">
var centroid = [{{centroid}}]
{% if shape != None %}
var xx_axis = [{x: {{shape.xx_axis[0]}}, y:{{shape.xx_axis[1]}}},{x: {{shape.xx_axis[2]}}, y:{{shape.xx_axis[3]}}}]
var yy_axis = [{x: {{shape.yy_axis[0]}}, y:{{shape.yy_axis[1]}}},{x: {{shape.yy_axis[2]}}, y:{{shape.yy_axis[3]}}}]
var uu_axis = [{x: {{shape.uu_axis[0]}}, y:{{shape.uu_axis[1]}}},{x: {{shape.uu_axis[2]}}, y:{{shape.uu_axis[3]}}}]
var vv_axis = [{x: {{shape.vv_axis[0]}}, y:{{shape.vv_axis[1]}}},{x: {{shape.vv_axis[2]}}, y:{{shape.vv_axis[3]}}}]
{% else %}
var xx_axis = [{x: 0, y:0},{x: 0, y:0}]
var yy_axis = [{x: 0, y:0},{x: 0, y:0}]
var uu_axis = [{x: 0, y:0},{x: 0, y:0}]
var vv_axis = [{x: 0, y:0},{x: 0, y:0}]
{% endif %}
</script>


{% endblock content %}
